/* src/app.css */
/* src/app.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 1rem;
  }
  
  .section {
    margin-bottom: 2rem;
  }
  
  button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .calendar {
    background-color: #f5f5f5;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
  }
  
  
  .login-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-container img {
    display: block;
    margin: 0 auto 1rem;
    max-width: 100%;
    height: auto;
  }
  
  .login-container h1 {
    margin-bottom: 1rem;
  }
  
  .login-container input {
    width: calc(100% - 20px);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-container button {
    width: 100%;
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
    text-align: center;
  }
  
  .day {
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .day-low-coverage {
    background-color: #ff0000;
  }
  
  .day-medium-coverage {
    background-color: #ffff00;
  }
  
  .day-high-coverage {
    background-color: #00ff00;
  }

